<form id="new-exhibition" action="/artworks/createNew" method="POST">
    <label>Artwork URL:</label>
    <br>
    <input 
    type="text" 
    name="artworkUrl"
    >
    <br>
    <br>
    <label>artist Name:</label>
    <br>
    <input 
    type="text" 
    name="artistName"
    >
    <br>
    <br>
    <label>artwork Date</label>
    <br>
    <input 
    type="number" 
    name="artworkDate"
    >
    <br>
    <br>
    <input 
    type="submit" 
    value="Add Artwork"
    >
  </form>