<!DOCTYPE html>
<html>
  <head>
    <title>Gallery!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gallery!</h1>
    <br>
    <h1><a href="/artistA">Artist_A</a></h1>
  </body>
</html>
