

<!DOCTYPE html>
<html>
  <head>
    <title>Gallery GA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('partials/publicHeader') %>
  <body>
    <h1>All Exhibitions</h1>
    
    <% exhibitions.forEach(function(e){ %>
      <% const exhibitionsLink = `/exhibitions/visit/${e._id}`%>
      <a href="<%=exhibitionsLink%>"><%= e.title%></a>
      <h6><%= e.synopsis%></h6>
    <% }); %> 
  </body>
</html>
