<h2>Enter an Artwork</h2>
<form action="/artistA/createNew" method="POST">
  <label
    >workUrl: (seperate url with commas)
    <input type="text" name="workUrl" /> </label>
    <br>
    <br>
  <label
    >Title:
    <input type="text" name="title" /> </label>
    <br>
    <br>
  <label
    >Location
    <input type="text" name="location" /> </label>
    <br>
    <br>
  <button type="submit">Add Artwork</button>
</form>