<h2>Edit Post Here</h2>
<form action="/artistA/<%=id%>?_method=PUT" method="POST">
    <label
    >workUrl: (seperate url with commas)
    <input type="text" name="workUrl" value="<%= artworks.workUrl%>" /> </label>
    <br>
    <br>
  <label
    >Title:
    <input type="text" name="title" value="<%= artworks.title%>" /> </label>
    <br>
    <br>
  <label
    >Location
    <input type="text" name="location" value="<%=artworks.location%>"/> </label>
    <br>
    <br>
  <button type="submit">Edit Post</button>
</form>