body {
  padding: 80px;
  font: 25px "Trebuchet MS", Futura, Arial, sans-serif;
}



a:link { color : black} 
a:visited { color : purple} 
a:hover { color : red} 
a:active { color : red} 

#login {
    position:absolute;
    left: 100px;
    padding: 5px;
}