<form id="new-exhibition" action="/exhibitions/createNew" method="POST">
    <label>Title:</label>
    <br>
    <input 
    type="text" 
    name="title"
    type="text"
    required
    oninvalid="setCustomValidity('Please insert Title')"
    oninput="this.setCustomValidity('')"
    >
    <br>
    <br>
    <label>Synopsis:</label>
    <br>
    <textarea 
    name="synopsis" 
    type="text"
    rows="4" 
    cols="50"
    minlength="140"
    oninvalid="setCustomValidity('Please insert Synopsis,Min characters is 140')"
    oninput="this.setCustomValidity('')"

    ></textarea>
    <br>
    <br>
    <input type="submit" value="Add Exhibition">
  </form>