<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>All Exhibitions</title>
    
</head>


<h2>Edit Exhibition Here</h2>

<form id="new-exhibition" action="/exhibitions/<%=id%>?_method=PUT" method="POST">
    <label>Title:</label>
    <br>
    <input 
    type="text" 
    name="title" 
    value="<%= exhibitions.title%>"
    required
    oninvalid="setCustomValidity('Please insert Title')"
    oninput="this.setCustomValidity('')"
    >
    <br>
    <br>
    <label>Synopsis:</label>
    <br>
    <textarea
    name="synopsis"
    required 
    minlength="140"
    oninvalid="setCustomValidity('Please insert Synopsis, Minimum 140 characters')"
    oninput="this.setCustomValidity('')"
    >
    <%= exhibitions.synopsis %>
    </textarea> 
    <br>
    <br>
    <input type="submit" value="Edit Exhibition">
  </form>

