<h2>Enter Artwork Details</h2>
<form action="/locationInfo/createNew" method="POST">
  <label
    >Title of Artwork:
    <input type="text" name="title" /> </label>
    <br>
    <br>
  <label
    >Current Location:
    <input type="text" name="currentLocation" /> </label>
    <br>
    <br>
  <label
    >Next Location:
    <input type="text" name="nextLocation" /> </label>
    <br>
    <br>
<label
    >Move Date:
    <input type="date" name="dateToMove" /> </label>
    <br>
    <br>
<label
    >Comments:
    <input type="text" name="comments" Value ="nil"/> </label>
    <br>
    <br>
  <button type="submit">Submit Post</button>
</form>